<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <filter>
        <filter-name>HomeFilter</filter-name>
        <filter-class>filter.HomeFilter</filter-class>
    </filter>
    <filter-mapping>
        <filter-name>HomeFilter</filter-name>
        <url-pattern>/home</url-pattern>
        <dispatcher>REQUEST</dispatcher>
    </filter-mapping>
    <servlet>
        <servlet-name>PationInfoController</servlet-name>
        <servlet-class>control.PationInfoController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DoctorInfoController</servlet-name>
        <servlet-class>control.DoctorInfoController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ManagerInfoController</servlet-name>
        <servlet-class>control.ManagerInfoController</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>PationInfoController</servlet-name>
        <url-pattern>/PationInfoController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DoctorInfoController</servlet-name>
        <url-pattern>/DoctorInfoController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ManagerInfoController</servlet-name>
        <url-pattern>/ManagerInfoController</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
