
/* 
    Author     : Long
*/

#body {
  background-image: url("https://png.pngtree.com/background/20210711/original/pngtree-dental-hospital-dental-beauty-oral-health-background-material-picture-image_1122754.jpg");
  background-size: cover;
  
}
#login .container #login-row #login-column #login-box {
  margin-top: 120px;
  max-width: 600px;
  height: 480px;
  border: 1px solid #9C9C9C;
  background-color: #ffffff;
  opacity: 93%;
  border-radius: 20px
}
#login .container #login-row #login-column #login-box #login-form {
  padding: 20px;
}
#login .container #login-row #login-column #login-box #login-form #register-link {
  margin-top: -50px;
}
#password{
    width: 10cm;
}
#togglePassword{
    font-size: 14px;
}
#sign{
    /*margin-left: 4.7cm;*/
    width: 3cm;
    margin-right: 0;
}
#mess{
    font-size: 20px;
    height: 30px;
    color: red;
    margin: 0;
}
#mes{
     font-size: 20px;
    height: 30px;
    color: green;
    margin: 0;
}
#type{
border-radius: 7px;
}
.form-group{
     word-spacing: 0px;
}
.back{
    margin-left: 9cm;
}